/* define primary, secondary, accent, and light-gray colors*/

:root {
  --primary-color: #FF90BC; /* Darker Pink*/
  --secondary-color: #FFC0D9; /* Pastel Pink*/
  --accent-color: #F9F9E0; /* Cream */
  --light-blue: #8ACDD7; /* Light blue */
}

body {
  color: #333;
}

a, .btn-primary {
  background-color: var(--primary-color);
  color: white;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
