.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 5px 0;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, Calibri;
  font-size: 18px;
  /* background-color: lightgray; */
}

.nav-item a:hover {
  color: darkmagenta;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-left: 10px;
}

.navbar-brand, .nav-link {
  text-decoration: none;
  color: #f9f9e0;
  border: #ff90bc;
  background-color: #ff90bc;
  border-radius: 5px;
  padding: 0 2px;
}

.cart-counter {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  margin-left: 5px;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}
