<div class="navbar">
  <a class="navbar-brand">Bracelet Empire</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/order">Place Order</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cart">
        View Cart
        <span *ngIf="itemCount > 0" class="cart-counter">{{ itemCount }}</span>
      </a>
    </li>
  </ul>
</div>
