.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, Calibri;
  font-size: 24px;
  height: 80px; 
  background-color: #ff5d9d;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.nav-item {
  margin-left: 0;
}

.navbar-brand, .nav-link {
  text-decoration: none;
  color: #f9f9e0;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #ff5d9d;
  border: 2px solid #ff5d9d;
}

  .navbar-brand:hover, .nav-link:hover {
    color: darkmagenta;
    border-color: darkmagenta;
  }

.nav-pills {
  padding: 0;
  height: 100%;
}

.cart-counter {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  margin-left: 5px;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}

/* Responsive design */
@media (max-width: 520px) {
  .navbar {
    justify-content: center;
  }

  .nav {
    flex-wrap: wrap;
  }

  .nav-item {
    flex: 1 0 100%;
  }

  .navbar-brand {
    flex: 1 0 100%;
  }
}
