.featured-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  justify-content: center;
  padding: 10px; 
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;

}

.app-card {
  box-sizing: border-box;
  max-width: 100%;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .featured-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  }
}

@media (max-width: 768px) {
  .featured-container {
    width: 100%; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  }
}

@media (max-width: 480px) {
  .featured-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  }
}
