body {
  font-family: Cambria, Arial, Calibri;
  background-color: #f3f3f3;
  color: #333;
}

.hero {
  background: var(--primary-color);
  color: #F9F9E0;
  padding: 2em;
  margin: 0;
  text-align: center;
}

.about-us-teaser {
  background: #FAF4FF;
  padding: 2em;
  text-align: center;
}

